<div class="flex flex-col items-center justify-center my-auto mx-auto lg:py-0">
  <a class="flex items-center mb-4 text-2xl font-semibold text-gray-900 
    dark:text-white no-underline">
    <img class="bg-white rounded-full w-20 h-20 mr-2" src="/assets/logo.jpeg" alt="logo">
    TEST_APP
  </a>
  <div class="w-full bg-white rounded-lg shadow-2xl dark:border md:mt-0 sm:max-w-md xl:p-0 
    dark:bg-gray-800 dark:border-gray-700">
    <div class="p-6">
      <h1 class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 
        md:text-2xl dark:text-white mt-0">
        Forgot your password?
      </h1>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="flex p-4 mb-4 text-sm text-rose-800">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>

        <div>
            <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 
              dark:text-white" %>
            <%= f.email_field :email, required: true, autocomplete: "current-password", 
              placeholder: "Password", class: "bg-slate-100 block border border-grey-light 
                w-full p-3 rounded-md mb-4 text-sm" %>
        </div>
        
        <div class="flex items-center justify-between mb-4">
          <% if devise_mapping.registerable? && controller_name != 'registrations' %>
            <div class="text-sm mx-4">
              <%= link_to "Sign up", new_registration_path(resource_name), 
                class: "font-medium text-indigo-600 hover:text-indigo-500" %>
            </div>
          <% end %>  

          <%- if controller_name != 'sessions' %>
            <div class="text-sm">
              <%= link_to "Log in", new_session_path(resource_name), 
                class: "font-medium text-indigo-600 hover:text-indigo-500" %>
            </div>
          <% end %>
        </div>

          <button id="button" type="submit" class="flex w-full justify-center rounded-md 
            border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white bg-none 
            hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 
            focus:ring-offset-2">Send me reset password instructions</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
