<section>
  <nav class="py-2 md:py-4 shadow"> 
    <div class="container px-4 mx-auto md:flex md:items-center">

      <div class="flex-1 flex justify-center mr-auto">
        <div class="justify-center hover:scale-125 ">
          <a href="#" class="font-bold text-xl text-gray-900 no-underline">FWR</a>
        </div>
      </div>

      <div class="mx-12">
        <a href=" <%= root_path %>" class="p-2 lg:px-4 md:mx-2 text-base text-gray-900 rounded hover:bg-rose-200 
          hover:text-gray-700 transition-colors duration-300 no-underline">Home</a>
        <a href="<%= new_order_path %>" class="p-2 lg:px-4 md:mx-2 text-base text-gray-900 rounded 
          hover:bg-rose-200 hover:text-gray-700 transition-colors duration-300 no-underline">Create Order</a>
        <a href="<%= user_path(20) %>" class="p-2 lg:px-4 md:mx-2 text-base text-gray-900 rounded 
          hover:bg-rose-200 hover:text-gray-700 transition-colors duration-300 no-underline">Features</a>
        <a href="#" class="p-2 lg:px-4 md:mx-2 text-base text-gray-900 rounded hover:bg-rose-200 
          hover:text-gray-700 transition-colors duration-300 no-underline">Pricing</a>
        <a href="<%= user_path(current_user) %>" class="p-2 lg:px-4 md:mx-2 text-base text-gray-900 rounded hover:bg-rose-200 
          hover:text-gray-700 transition-colors duration-300 no-underline"><%= "#{current_user.name}"%></a>
      </div>

      <div class="flex-1 flex justify-center ml-auto">
        <%= button_to destroy_user_session_path, method: :delete, 
          class: 'rounded-md border border-transparent 
            bg-sky-700 text-base font-medium text-white 
            bg-none hover:bg-sky-900 focus:outdivne-none focus:ring-2 
            focus:ring-red-700 focus:ring-offset-2 flex items-center gap-1' do %>
          <p> Logout </p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" 
            stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-divnecap="round" stroke-divnejoin="round" 
            d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 
            2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
          </svg>
        <% end %>
      </div>
    </div>
  </nav>
</section>
